[submodule "predix-microservice-cf-spring"]
	path = predix-microservice-cf-spring
	url = https://github.com/predixdev/predix-microservice-cf-spring.git
	branch = develop
[submodule "predix-microservice-cf-jsr"]
	path = predix-microservice-cf-jsr
	url = https://github.com/predixdev/predix-microservice-cf-jsr.git
	branch = develop


